*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.imagemFundo{
  position: absolute;
  inset:0; 
  background-image: url("../img/background-cadastro-dador.png");
  background-size: cover;
  background-position: center;
  z-index: -1;          
}
header{
   display: flex;
    position: fixed;
    top: 0;   
    left: 0;     
    right: 0;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: solid;
    background-color: rgb(164, 23, 23);
    z-index: 1000;
}
.container{
   position: relative;
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   
}
.inputs-group:hover{
    transform: scale(1.05);
}
.inputs-group{
   transition: transform 0.3s ease;
   border: solid;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.747);
  
 
}

legend,label, button, input{
    display: block;
    text-align: center;
    border-radius: 10px;
    
}
input{
    width: 100%;
}
button{
    margin: 10px auto;
    padding: 3px;
}
fieldset{
    border: none;

}
legend{
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 0);  
}
